@charset "UTF-8";
/*reset*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}

/*공통*/
.blind {
  position: absolute;
  /* clip: rect(0 0 0 0); */
  left:-9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chinese {
  font-family: 'NanumBarunGothic', '나눔바른고딕', 'Dotum', '돋움', 'Helvetica', 'Arial', 'AppleSDGothicNeo', sans-serif;
}

.text_line {
  display: block;
  margin: 0;
  word-break: keep-all;
}

.hidden {
  overflow: hidden !important;
}

button {
  border: 0;
  background: none;
  -webkit-appearance: none;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

caption {
  text-indent: -9999px;
  font-size: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea::-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-ms-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-ms-clear {
  display: none;
}

body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
body{
  --naver-color:#1ec545;
  --header-height:80px;
}

/* 레이아웃 */
header{
  position: relative;
  height: var(--header-height);
  background-color: #f8e;
}
header .header_wrap {
  display: flex;
  justify-content: space-between;/*양끝정렬 여백균등*/
  align-items: center;/*교차축 가운데*/
  background-color: #ef8;
  margin:0 auto;
  max-width: 1600px;
}


/* header */
.header_logo{
  background: url(../img/header_logo.png) center no-repeat;
  width:87px;
  height: 17px;
  background-size:contain;
  background-color: #ccc;
}


.header_logo a{
  display: block;
  width: 100%;
  height: 100%;
  
}

/* nav */
nav{
  background-color: #ccc;/*작업후 삭제*/
} 
nav .gnb_menu{
  /* 플렉스박스 플렉스컨테이너 */
  display: flex;
}
nav .gnb_menu_list{
  /* 플렉스아이템 */
}
nav .gnb_menu_list a.gnb_menu_item{
  position: relative;/*nav .gnb_menu_list a.gnb_menu_item:after 기준요소*/
   display: block;
   margin:0 30px;
   height: var(--header-height);
   padding-top:25px;
   font-size: 18px;
   color: #000;
}
nav .gnb_menu_list a.gnb_menu_item:after{
  content:''; display: block;
  position: absolute;/*기준요소*/
  left:0;  bottom:20px;
  width: calc(100% + 3px);/*계산기 함수 calc(값1 + 값2)*/
  height: 2px;
  background-color: var(--naver-color);
  transform:scale(0);
}
nav .gnb_menu_list:hover a.gnb_menu_item:after,
nav .gnb_menu_list a.gnb_menu_item:focus:after{
   transform: scale(1);
   transition: transform 0.5s;
   transform-origin: 0 0;
}
nav .gnb_menu_list .gnb_dropMenu_wrap{
  position: absolute;/*기준요소*/
  left:0; top:var(--header-height); 
  width:100%;
  background-color: var(--naver-color);
  display: flex;
}

.gnb_dropMenu_wrap li{}
.gnb_dropMenu_wrap .gnb_dropMenu{}
.gnb_dropMenu li{}
.gnb_dropMenu li.depth_blank{}
.gnb_dropMenu li .gnb_dropMenu_item{
  color:#fff;
}


/* .header_util */
.header_util{background-color: #999}/*작업후 삭제*/