@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;800;900&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* reset */
*{margin:0; padding:0;}


/*typograph*/
body{
  font-family: "맑은 고딕";
  font-size:0.875em;
}
/*공통*/
/*가변이미지*/
.img-wrap img{width:100%; display: block;}
/*레이아웃*/
/*공통레이아웃*/
/* 페이지별 */

.banner{
  overflow: hidden;
  /* background-color: #999; */
}
.banner::after{
  content: '';
  display: block;
  clear: both;
}

.banner .left{
   float:left;
   width:60%; height: 400px;
   border-radius: 0 200px 200px 0;
   overflow:hidden;
  }
  .banner .right{
    float:right;
    width:38%; height: 400px;
    padding-top:110px; padding-left:90px;
    box-sizing: border-box;}

.banner .right .desc,.banner .right .title,.banner .right .button{
  font-family: 'Raleway', sans-serif;}

  .banner .right .desc{
  font-weight: 200;  font-size:16px;  letter-spacing: -1px;}

.banner .right .title{
  margin:-10px 0 40px 0;
  font-weight: 800;  font-size: 5rem;  letter-spacing: 2px;}

.banner .right .button{
  display: inline-block;
  border:1px solid currentColor;
  padding:6px;  font-size: 1.5rem;   font-weight: 800;}







